In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
import sys  
sys.path.append( '..')

In [3]:
from src.stocks import build_model,build_n_forecast,download_stocks,build_h2o_automl

## Build and forecast

In [4]:
stock_codes = ["RELIANCE.NS","TCS.NS","DABUR.NS","ADANIGREEN.NS","SOLARA.NS","ZYDUSLIFE.NS","TATAMOTORS.NS","KPIL.NS"]
# stock_codes = ["RELIANCE.NS", "TCS.NS"]

In [5]:
forecast_df = build_n_forecast(stock_codes,validation_days=10,model_name="h2o_automl")

Building model for  RELIANCE.NS
Checking whether there is an H2O instance running at http://localhost:54321. connected.

--------------------------  ------------------------------------
H2O_cluster_uptime:         11 hours 48 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.1
H2O_cluster_version_age:    28 days, 21 hours and 7 minutes
H2O_cluster_name:           H2O_from_python_ravinarukulla_kxwxfx
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.451 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.11.8 final
--------------------------  ------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%
Building model for  TCS.NS
Checking whether there is an H2O instance running at http://localhost:54321. connected.

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv_311/lib/python3.11/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install datatable (for Python 3.9 or lower), or polars and pyarrow (for Python 3.10 or above) and activate it using:

with h2o.utils.threading.local_context(polars_enabled=True, datatable_enabled=True):
    pandas_df = h2o_df.as_data_frame()

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

--------------------------  ------------------------------------
H2O_cluster_uptime:         11 hours 48 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.1
H2O_cluster_version_age:    28 days, 21 hours and 8 minutes
H2O_cluster_name:           H2O_from_python_ravinarukulla_kxwxfx
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.457 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.11.8 final
--------------------------  ------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%
Building model for  DABUR.NS
Checking whether there is an H2O instance running at http://localhost:54321. connected.

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv_311/lib/python3.11/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install datatable (for Python 3.9 or lower), or polars and pyarrow (for Python 3.10 or above) and activate it using:

with h2o.utils.threading.local_context(polars_enabled=True, datatable_enabled=True):
    pandas_df = h2o_df.as_data_frame()

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

--------------------------  ------------------------------------
H2O_cluster_uptime:         11 hours 49 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.1
H2O_cluster_version_age:    28 days, 21 hours and 8 minutes
H2O_cluster_name:           H2O_from_python_ravinarukulla_kxwxfx
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.739 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.11.8 final
--------------------------  ------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
glm prediction progress: |███████████████████████████████████████████████████████| (done) 100%
Building model for  ADANIGREEN.NS
Checking whether there is an H2O instance running at http://localhost:54321. connected.

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv_311/lib/python3.11/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install datatable (for Python 3.9 or lower), or polars and pyarrow (for Python 3.10 or above) and activate it using:

with h2o.utils.threading.local_context(polars_enabled=True, datatable_enabled=True):
    pandas_df = h2o_df.as_data_frame()

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

--------------------------  ------------------------------------
H2O_cluster_uptime:         11 hours 49 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.1
H2O_cluster_version_age:    28 days, 21 hours and 8 minutes
H2O_cluster_name:           H2O_from_python_ravinarukulla_kxwxfx
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.741 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.11.8 final
--------------------------  ------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%
Building model for  SOLARA.NS
Checking whether there is an H2O instance running at http://localhost:54321. connected.

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv_311/lib/python3.11/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install datatable (for Python 3.9 or lower), or polars and pyarrow (for Python 3.10 or above) and activate it using:

with h2o.utils.threading.local_context(polars_enabled=True, datatable_enabled=True):
    pandas_df = h2o_df.as_data_frame()

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

--------------------------  ------------------------------------
H2O_cluster_uptime:         11 hours 49 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.1
H2O_cluster_version_age:    28 days, 21 hours and 8 minutes
H2O_cluster_name:           H2O_from_python_ravinarukulla_kxwxfx
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.723 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.11.8 final
--------------------------  ------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%
Building model for  ZYDUSLIFE.NS
Checking whether there is an H2O instance running at http://localhost:54321. connected.

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv_311/lib/python3.11/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install datatable (for Python 3.9 or lower), or polars and pyarrow (for Python 3.10 or above) and activate it using:

with h2o.utils.threading.local_context(polars_enabled=True, datatable_enabled=True):
    pandas_df = h2o_df.as_data_frame()

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

--------------------------  ------------------------------------
H2O_cluster_uptime:         11 hours 49 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.1
H2O_cluster_version_age:    28 days, 21 hours and 8 minutes
H2O_cluster_name:           H2O_from_python_ravinarukulla_kxwxfx
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.687 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.11.8 final
--------------------------  ------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%
Building model for  TATAMOTORS.NS
Checking whether there is an H2O instance running at http://localhost:54321. connected.

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv_311/lib/python3.11/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install datatable (for Python 3.9 or lower), or polars and pyarrow (for Python 3.10 or above) and activate it using:

with h2o.utils.threading.local_context(polars_enabled=True, datatable_enabled=True):
    pandas_df = h2o_df.as_data_frame()

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

--------------------------  ------------------------------------
H2O_cluster_uptime:         11 hours 49 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.1
H2O_cluster_version_age:    28 days, 21 hours and 9 minutes
H2O_cluster_name:           H2O_from_python_ravinarukulla_kxwxfx
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.190 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.11.8 final
--------------------------  ------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%
Building model for  KPIL.NS
Checking whether there is an H2O instance running at http://localhost:54321. connected.

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv_311/lib/python3.11/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install datatable (for Python 3.9 or lower), or polars and pyarrow (for Python 3.10 or above) and activate it using:

with h2o.utils.threading.local_context(polars_enabled=True, datatable_enabled=True):
    pandas_df = h2o_df.as_data_frame()

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

--------------------------  ------------------------------------
H2O_cluster_uptime:         11 hours 50 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.1
H2O_cluster_version_age:    28 days, 21 hours and 9 minutes
H2O_cluster_name:           H2O_from_python_ravinarukulla_kxwxfx
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.973 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.11.8 final
--------------------------  ------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |
12:31:33.437: _min_rows param, The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 189.0.

███████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
glm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv_311/lib/python3.11/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install datatable (for Python 3.9 or lower), or polars and pyarrow (for Python 3.10 or above) and activate it using:

with h2o.utils.threading.local_context(polars_enabled=True, datatable_enabled=True):
    pandas_df = h2o_df.as_data_frame()

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

In [6]:
forecast_df

      forecast        Date          Stock Forecast_period
0  2936.862623  2024-04-10    RELIANCE.NS      2024-04-11
0  3989.738405  2024-04-10         TCS.NS      2024-04-11
0   508.591275  2024-04-10       DABUR.NS      2024-04-11
0  1950.291272  2024-04-10  ADANIGREEN.NS      2024-04-11
0   415.076754  2024-04-10      SOLARA.NS      2024-04-11
0   972.866574  2024-04-10   ZYDUSLIFE.NS      2024-04-11
0  1006.373128  2024-04-10  TATAMOTORS.NS      2024-04-11
0  1134.892039  2024-04-10        KPIL.NS      2024-04-11

In [21]:
pd.to_datetime(forecast_df.Forecast_period).max()

Timestamp('2024-04-11 00:00:00')

## Get stock for validation

In [22]:
# Define the stock codes you are interested in
stock_codes = ["RELIANCE.NS","TCS.NS","DABUR.NS","ADANIGREEN.NS","SOLARA.NS","ZYDUSLIFE.NS","TATAMOTORS.NS","KPIL.NS"]

# end_date = datetime.now() - timedelta(days=1)
end_date= pd.to_datetime(forecast_df.Date).max()+dt.timedelta(days=1)

start_date = end_date - dt.timedelta(days=5)
start_date, end_date

(Timestamp('2024-04-06 00:00:00'), Timestamp('2024-04-11 00:00:00'))

In [23]:
import pandas_market_calendars as mcal
bse = mcal.get_calendar('BSE')
dates = bse.schedule(start_date=start_date, end_date=end_date+dt.timedelta(days=1))

In [24]:
start_date = dates.market_close.min()
end_date = dates.market_close.max()
start_date ,end_date

(Timestamp('2024-04-08 10:00:00+0000', tz='UTC'),
 Timestamp('2024-04-12 10:00:00+0000', tz='UTC'))

In [25]:
stocks_recent = download_stocks(stock_codes=stock_codes,start_date=start_date,end_date=end_date)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [26]:
all_stocks:list[pd.DataFrame] = []
for stock_name,stock_df in stocks_recent.items():
    stock_df["Stock"] = stock_name
    all_stocks.append(stock_df)

actual = pd.concat(all_stocks)[["Close","Stock"]]

In [27]:
actual["previous_day"] = actual.groupby("Stock")['Close'].shift(1)

In [28]:
actual["actual_diff"] = actual['Close'] - actual["previous_day"]
actual["actual_growth"] = np.where(actual["actual_diff"]<0,"Down","Up")

In [29]:
actual

,Close,Stock,previous_day,actual_diff,actual_growth
Date,,,,,
2024-04-08,2971.949951,RELIANCE.NS,NaN,NaN,Up
2024-04-09,2927.300049,RELIANCE.NS,2971.949951,-44.649902,Down
2024-04-10,2959.149902,RELIANCE.NS,2927.300049,31.849854,Up
2024-04-08,3972.550049,TCS.NS,NaN,NaN,Up
2024-04-09,3946.550049,TCS.NS,3972.550049,-26.000000,Down
2024-04-10,3984.649902,TCS.NS,3946.550049,38.099854,Up
2024-04-08,503.049988,DABUR.NS,NaN,NaN,Up
2024-04-09,503.149994,DABUR.NS,503.049988,0.100006,Up
2024-04-10,506.250000,DABUR.NS,503.149994,3.100006,Up
2024-04-08,1919.099976,ADANIGREEN.NS,NaN,NaN,Up
2024-04-09,1916.199951,ADANIGREEN.NS,1919.099976,-2.900024,Down
2024-04-10,1907.500000,ADANIGREEN.NS,1916.199951,-8.699951,Down
2024-04-08,440.799988,SOLARA.NS,NaN,NaN,Up
2024-04-09,426.200012,SOLARA.NS,440.799988,-14.599976,Down
2024-04-10,419.049988,SOLARA.NS,426.200012,-7.150024,Down
2024-04-08,1000.650024,ZYDUSLIFE.NS,NaN,NaN,Up
2024-04-09,989.150024,ZYDUSLIFE.NS,1000.650024,-11.500000,Down
2024-04-10,994.200012,ZYDUSLIFE.NS,989.150024,5.049988,Up
2024-04-08,1013.200012,TATAMOTORS.NS,NaN,NaN,Up
2024-04-09,1008.500000,TATAMOTORS.NS,1013.200012,-4.700012,Down
2024-04-10,1013.500000,TATAMOTORS.NS,1008.500000,5.000000,Up
2024-04-08,1161.550049,KPIL.NS,NaN,NaN,Up
2024-04-09,1149.250000,KPIL.NS,1161.550049,-12.300049,Down
2024-04-10,1197.150024,KPIL.NS,1149.250000,47.900024,Up

In [32]:
forecast_df

      forecast        Date          Stock Forecast_period
0  2936.862623  2024-04-10    RELIANCE.NS      2024-04-11
0  3989.738405  2024-04-10         TCS.NS      2024-04-11
0   508.591275  2024-04-10       DABUR.NS      2024-04-11
0  1950.291272  2024-04-10  ADANIGREEN.NS      2024-04-11
0   415.076754  2024-04-10      SOLARA.NS      2024-04-11
0   972.866574  2024-04-10   ZYDUSLIFE.NS      2024-04-11
0  1006.373128  2024-04-10  TATAMOTORS.NS      2024-04-11
0  1134.892039  2024-04-10        KPIL.NS      2024-04-11

In [30]:
actual_n_forecast = actual.reset_index().merge(forecast_df.drop("Date",axis=1),
                           left_on=['Date',"Stock"],right_on=["Forecast_period","Stock"])

In [31]:
actual_n_forecast

Empty DataFrame
Columns: [Date, Close, Stock, previous_day, actual_diff, actual_growth, forecast, Forecast_period]
Index: []

In [18]:
actual_n_forecast["forecast_vs_actual"] = actual_n_forecast['forecast'] - actual_n_forecast["Close"]
actual_n_forecast["forecast_vs_previous"] = actual_n_forecast['forecast'] - actual_n_forecast["previous_day"]
actual_n_forecast["forecasted_market"] = np.where((actual_n_forecast['forecast'] - actual_n_forecast["previous_day"])<0,"Down","Up")

In [19]:
actual_n_forecast

Empty DataFrame
Columns: [Date, Close, Stock, previous_day, actual_diff, actual_growth, forecast, Forecast_period, forecast_vs_actual, forecast_vs_previous, forecasted_market]
Index: []

In [20]:
datetime.now().strftime('%a')

NameError: name 'datetime' is not defined