In [1]:
import pandas as pd
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
import sys  
sys.path.append( '..')

In [3]:
from src.stocks import build_model,build_n_forecast,download_stocks,build_h20_automl

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

## Build and forecast

In [4]:
stock_names = ["RELIANCE.NS", "TCS.NS"]

In [5]:
forecast_df = build_n_forecast(stock_names,validation_days=10,model_name="h2o_automl")

Building model for  RELIANCE.NS
Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "21.0.2" 2024-01-16; OpenJDK Runtime Environment Homebrew (build 21.0.2); OpenJDK 64-Bit Server VM Homebrew (build 21.0.2, mixed mode, sharing)
  Starting server from /Users/ravinarukulla/PycharmProjects/stock_forecast/venv/lib/python3.9/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/pm/hbfkq1hn4_9cb_wjzl5gpjb40000gn/T/tmp48u73qzl
  JVM stdout: /var/folders/pm/hbfkq1hn4_9cb_wjzl5gpjb40000gn/T/tmp48u73qzl/h2o_ravinarukulla_started_from_python.out
  JVM stderr: /var/folders/pm/hbfkq1hn4_9cb_wjzl5gpjb40000gn/T/tmp48u73qzl/h2o_ravinarukulla_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.1
H2O_cluster_version_age:    25 days
H2O_cluster_name:           H2O_from_python_ravinarukulla_nmteqs
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.984 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.9.6 final
--------------------------  ------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |
01:31:28.694: GBM_1_AutoML_1_20240408_13128 [GBM def_5] failed: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_1_AutoML_1_20240408_13128.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 186.0.
ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 186.0.
ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 186.0.
ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 187.0.
ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 187.0.


███████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%
Building model for  TCS.NS
Checking whether there is an H2O instance running at http://localhost:54321. connected.

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv/lib/python3.9/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install datatable (for Python 3.9 or lower), or polars and pyarrow (for Python 3.10 or above) and activate it using:

with h2o.utils.threading.local_context(polars_enabled=True, datatable_enabled=True):
    pandas_df = h2o_df.as_data_frame()

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

--------------------------  ------------------------------------
H2O_cluster_uptime:         13 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.1
H2O_cluster_version_age:    25 days
H2O_cluster_name:           H2O_from_python_ravinarukulla_nmteqs
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.944 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.9.6 final
--------------------------  ------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |
01:31:39.873: GBM_1_AutoML_2_20240408_13139 [GBM def_5] failed: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_1_AutoML_2_20240408_13139.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 186.0.
ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 186.0.
ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 186.0.
ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 187.0.
ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 187.0.


███████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
glm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv/lib/python3.9/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install datatable (for Python 3.9 or lower), or polars and pyarrow (for Python 3.10 or above) and activate it using:

with h2o.utils.threading.local_context(polars_enabled=True, datatable_enabled=True):
    pandas_df = h2o_df.as_data_frame()

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

In [6]:
forecast_df

      forecast        Date        Stock Forecast_period
0  2927.220116  2024-04-01  RELIANCE.NS      2024-04-02
0  3901.445349  2024-04-01       TCS.NS      2024-04-02

In [21]:
pd.to_datetime(forecast_df.Date).min()

NameError: name 'Forecast_period' is not defined

## H2o Model

In [ ]:
stock_name = "RELIANCE.NS"
date_column="Date"

## Get stock for validation

In [22]:
# Define the stock codes you are interested in
stock_codes = ["RELIANCE.NS","TCS.NS","DABUR.NS","ADANIGREEN.NS","SOLARA.NS","ZYDUSLIFE.NS","TATAMOTORS.NS","KPIL.NS"]

# end_date = datetime.now() - timedelta(days=1)
end_date= pd.to_datetime(forecast_df.Date).min() + dt.timedelta(days=1)

start_date = end_date - dt.timedelta(days=4)
start_date, end_date

(Timestamp('2024-03-29 00:00:00'), Timestamp('2024-04-02 00:00:00'))

In [23]:
stocks_recent = download_stocks(stock_codes=stock_codes,start_date=start_date,end_date=end_date)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [28]:
stocks_recent['RELIANCE.NS']

,Open,High,Low,Close,Adj Close,Volume,Stock
Date,,,,,,,
2024-04-01,2984.949951,2987.949951,2965.0,2969.550049,2969.550049,2506940,RELIANCE.NS

In [25]:
all_stocks:list[pd.DataFrame] = []
for stock_name,stock_df in stocks_recent.items():
    stock_df["Stock"] = stock_name
    all_stocks.append(stock_df)

In [26]:
pd.concat(all_stocks)

,Open,High,Low,Close,Adj Close,Volume,Stock
Date,,,,,,,
2024-04-01,2984.949951,2987.949951,2965.000000,2969.550049,2969.550049,2506940,RELIANCE.NS
2024-04-01,3897.699951,3933.300049,3888.050049,3916.750000,3916.750000,1569676,TCS.NS
2024-04-01,523.500000,530.599976,523.500000,529.150024,529.150024,847682,DABUR.NS
2024-04-01,1865.000000,1908.900024,1865.000000,1888.300049,1888.300049,573430,ADANIGREEN.NS
2024-04-01,375.000000,397.000000,375.000000,394.500000,394.500000,155824,SOLARA.NS
2024-04-01,1024.949951,1031.699951,996.500000,999.799988,999.799988,1230088,ZYDUSLIFE.NS
2024-04-01,1000.000000,1009.849976,987.450012,992.250000,992.250000,8629407,TATAMOTORS.NS
2024-04-01,1079.000000,1121.000000,1058.050049,1117.449951,1117.449951,560229,KPIL.NS

In [ ]:
# features_path = f"features_{stock_name}.csv"
# target_path = f"target_{stock_name}.csv"
# test_real_path = f"features_{stock_name}_test.csv"

# X = pd.read_csv(features_path).set_index("Date")
# y = pd.read_csv(target_path).set_index("Date")
# test_real = pd.read_csv(test_real_path).set_index("Date")
# xgb =  build_model(X,y)
# y_pred = xgb.predict(X)

In [ ]:
test_target_path= f"target_{stock_name}_test.csv"
y_actual = pd.read_csv(test_target_path).set_index("Date")

In [ ]:
y_pred = forecast_df["forecast"]

In [ ]:

def plot_actual_vs_pred(y,y_pred,tail=10,pred_col=0):

    if not isinstance(y_pred,pd.DataFrame):
        y_pred = pd.DataFrame(y_pred)
        y_pred.index = y.index
    plot_df = pd.concat([y,y_pred],axis='columns')
    plot_df = plot_df.rename(columns={'Close_next_1d':'Actual',pred_col:'Predicted',}).reset_index(names='Date').tail(tail)

    # # Melt the DataFrame to long-format for easier plotting with Seaborn
    # data_long = plot_df.melt(id_vars=['Date'],value_vars=['Actual', 'Predicted'], var_name='Type', value_name='Value')
    
    # # Plotting
    # plt.figure(figsize=(10, 6))
    # sns.lineplot(data=data_long, x=data_long.Date, y='Value', hue='Type', style='Type',
    #              markers=True, dashes=True, alpha=0.8)  # Adjust transparency with the alpha parameter

    # Plot the results
    sns.lineplot(x=plot_df.index, y=plot_df['Actual'], label='Actual')
    sns.lineplot(x=plot_df.index, y=plot_df['Predicted'], label='Forecast',dashes=True)
    plt.legend()
    
    plt.title('Comparison of Actual and Predicted Values')
    plt.xlabel('Date')
    plt.ylabel('Value')
    plt.legend(title='Type')
    plt.show()

In [ ]:
plot_actual_vs_pred(y_actual,y_pred,tail=30,pred_col="forecast")

In [ ]:

plt.plot(y.tail(10))
plt.plot(y_pred[-10:])
plt.show()

In [ ]:
imp = pd.DataFrame(xgb_model.feature_importances_,index=X.columns,columns=["imp_score"]).sort_values("imp_score",ascending=False)

In [ ]:
xgb.plot_importance(xgb_model,importance_type='gain',max_num_features=20,height=0.5)