In [1]:
import sys  
sys.path.append( '..')

In [2]:
from datetime import datetime, timedelta
import pandas as pd

In [3]:
# Define the stock codes you are interested in
stock_codes = ["RELIANCE.NS", "TCS.NS"]  # Example stock codes for Reliance Industries and TCS
end_date = datetime.now() - timedelta(days=1)
start_date = end_date - timedelta(days=365)
start_date, end_date

(datetime.datetime(2023, 3, 11, 13, 14, 50, 185415),
 datetime.datetime(2024, 3, 10, 13, 14, 50, 185415))

In [4]:
from src.stocks import *

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [5]:
stock_data = download_stocks(stock_codes, start_date, end_date)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [6]:
data = stock_data['RELIANCE.NS']

In [7]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-03-13,2149.666260,2163.511230,2099.824219,2108.592773,2101.170410,6385796
2023-03-14,2104.439209,2127.468018,2094.332520,2100.701172,2093.306641,8013761
2023-03-15,2108.223633,2121.330078,2055.889404,2064.796387,2057.528320,10864277
2023-03-16,2070.288330,2080.441162,2032.629883,2054.504883,2047.272949,9181579
2023-03-17,2071.903564,2078.549072,2042.321411,2051.920654,2044.697876,17007106

In [8]:
# Add all ta features filling nans values
data_features = ta.add_all_ta_features(
    data,open= "Open",high= "High",low= "Low",close= "Close", volume="Volume", fillna=True)

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv/lib/python3.9/site-packages/ta/trend.py:1030: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  self._psar[i] = high2

In [9]:
lag_features = get_lag_features(data_features, feature='Close').drop('Close',axis=1,errors='ignore').fillna(0)

In [20]:
data_features = pd.concat([data_features,lag_features],axis='columns')

In [26]:
y = get_target(data_features, target_feature='Close')

In [28]:
X = data_features.drop(data_features.tail(1).index)
y  = y.drop(y.tail(1).index)

In [39]:
stock_name = stock_codes[0].split('.')[0]
X.to_csv(f"features_{stock_name}.csv")
y.to_csv(f"target_{stock_name}.csv")