In [1]:
import sys  
sys.path.append( '..')

In [2]:
from datetime import datetime, timedelta
import pandas as pd

In [3]:
# Define the stock codes you are interested in
stock_codes = ["RELIANCE.NS", "TCS.NS"]  # Example stock codes for Reliance Industries and TCS
end_date = datetime.now() - timedelta(days=1)
start_date = end_date - timedelta(days=365)
start_date, end_date

(datetime.datetime(2023, 3, 11, 12, 25, 20, 132235),
 datetime.datetime(2024, 3, 10, 12, 25, 20, 132235))

In [4]:
from src.stocks import *

In [5]:
stock_data = download_stocks(stock_codes, start_date, end_date)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [6]:
data = stock_data['RELIANCE.NS']

In [7]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-03-13,2149.666260,2163.511230,2099.824219,2108.592773,2101.170410,6385796
2023-03-14,2104.439209,2127.468018,2094.332520,2100.701172,2093.306641,8013761
2023-03-15,2108.223633,2121.330078,2055.889404,2064.796387,2057.528320,10864277
2023-03-16,2070.288330,2080.441162,2032.629883,2054.504883,2047.272949,9181579
2023-03-17,2071.903564,2078.549072,2042.321411,2051.920654,2044.697876,17007106
...,...,...,...,...,...,...
2024-03-01,2927.000000,3000.000000,2925.000000,2984.250000,2984.250000,6066463
2024-03-04,2980.949951,3024.899902,2974.449951,3014.800049,3014.800049,5012210
2024-03-05,3011.550049,3014.800049,2972.100098,3000.399902,3000.399902,3553834
2024-03-06,2986.899902,3018.000000,2957.000000,3006.000000,3006.000000,3902838
2024-03-07,3005.949951,3006.199951,2951.100098,2957.850098,2957.850098,4157863

In [8]:
# Add all ta features filling nans values
data_features = ta.add_all_ta_features(
    data,open= "Open",high= "High",low= "Low",close= "Close", volume="Volume", fillna=True)

/Users/ravinarukulla/PycharmProjects/stock_forecast/venv/lib/python3.9/site-packages/ta/trend.py:1030: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  self._psar[i] = high2

In [9]:
data_features.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'volume_adi',
       'volume_obv', 'volume_cmf', 'volume_fi', 'volume_em', 'volume_sma_em',
       'volume_vpt', 'volume_vwap', 'volume_mfi', 'volume_nvi',
       'volatility_bbm', 'volatility_bbh', 'volatility_bbl', 'volatility_bbw',
       'volatility_bbp', 'volatility_bbhi', 'volatility_bbli',
       'volatility_kcc', 'volatility_kch', 'volatility_kcl', 'volatility_kcw',
       'volatility_kcp', 'volatility_kchi', 'volatility_kcli',
       'volatility_dcl', 'volatility_dch', 'volatility_dcm', 'volatility_dcw',
       'volatility_dcp', 'volatility_atr', 'volatility_ui', 'trend_macd',
       'trend_macd_signal', 'trend_macd_diff', 'trend_sma_fast',
       'trend_sma_slow', 'trend_ema_fast', 'trend_ema_slow',
       'trend_vortex_ind_pos', 'trend_vortex_ind_neg', 'trend_vortex_ind_diff',
       'trend_trix', 'trend_mass_index', 'trend_dpo', 'trend_kst',
       'trend_kst_sig', 'trend_kst_diff', 'trend_ichimoku_conv',
       'trend_ichimoku_base', 'trend_ichimoku_a', 'trend_ichimoku_b',
       'trend_stc', 'trend_adx', 'trend_adx_pos', 'trend_adx_neg', 'trend_cci',
       'trend_visual_ichimoku_a', 'trend_visual_ichimoku_b', 'trend_aroon_up',
       'trend_aroon_down', 'trend_aroon_ind', 'trend_psar_up',
       'trend_psar_down', 'trend_psar_up_indicator',
       'trend_psar_down_indicator', 'momentum_rsi', 'momentum_stoch_rsi',
       'momentum_stoch_rsi_k', 'momentum_stoch_rsi_d', 'momentum_tsi',
       'momentum_uo', 'momentum_stoch', 'momentum_stoch_signal', 'momentum_wr',
       'momentum_ao', 'momentum_roc', 'momentum_ppo', 'momentum_ppo_signal',
       'momentum_ppo_hist', 'momentum_pvo', 'momentum_pvo_signal',
       'momentum_pvo_hist', 'momentum_kama', 'others_dr', 'others_dlr',
       'others_cr'],
      dtype='object')

In [10]:
lag_features = get_lag_features(data_features, feature='Close')

In [13]:
lag_features

,Close,Close_lag_1d,Close_lag_2d,Close_lag_3d,Close_lag_4d,Close_lag_5d,Close_lag_7d,Close_lag_14d,Close_lag_30d,Close_lag_100d,...,Close_rolling_mean_1d,Close_rolling_mean_2d,Close_rolling_mean_3d,Close_rolling_mean_4d,Close_rolling_mean_5d,Close_rolling_mean_7d,Close_rolling_mean_14d,Close_rolling_mean_30d,Close_rolling_mean_100d,Close_rolling_mean_200d
Date,,,,,,,,,,,,,,,,,,,,,
2023-03-13,2108.592773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-03-14,2100.701172,2108.592773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2108.592773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-03-15,2064.796387,2100.701172,2108.592773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2100.701172,2104.646973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-03-16,2054.504883,2064.796387,2100.701172,2108.592773,NaN,NaN,NaN,NaN,NaN,NaN,...,2064.796387,2082.748779,2091.363444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-03-17,2051.920654,2054.504883,2064.796387,2100.701172,2108.592773,NaN,NaN,NaN,NaN,NaN,...,2054.504883,2059.650635,2073.334147,2082.148804,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-01,2984.250000,2921.600098,2911.250000,2971.300049,2974.649902,2987.250000,2935.399902,2904.699951,2723.149902,2314.100098,...,2921.600098,2916.425049,2934.716715,2944.700012,2953.210010,2952.135707,2943.928554,2874.433317,2565.838494,2489.200833
2024-03-04,3014.800049,2984.250000,2921.600098,2911.250000,2971.300049,2974.649902,2963.500000,2930.199951,2735.899902,2318.000000,...,2984.250000,2952.925049,2939.033366,2947.100037,2952.610010,2959.114293,2949.610700,2883.136654,2572.539993,2492.656812
2024-03-05,3000.399902,3014.800049,2984.250000,2921.600098,2911.250000,2971.300049,2987.250000,2962.750000,2734.899902,2298.250000,...,3014.800049,2999.525024,2973.550049,2957.975037,2960.640039,2966.442871,2955.653564,2892.433325,2579.507993,2496.242927
2024-03-06,3006.000000,3000.399902,3014.800049,2984.250000,2921.600098,2911.250000,2974.649902,2941.199951,2657.149902,2308.399902,...,3000.399902,3007.599976,2999.816650,2980.262512,2966.460010,2968.321429,2958.342843,2901.283325,2586.529492,2499.920643
2024-03-07,2957.850098,3006.000000,3000.399902,3014.800049,2984.250000,2921.600098,2971.300049,2921.149902,2687.750000,2345.050049,...,3006.000000,3003.199951,3007.066650,3001.362488,2985.410010,2972.800014,2962.971418,2912.911662,2593.505493,2503.693278

In [11]:
y = get_target(data_features, target_feature='Close')

In [12]:
y

            Close_next_1d
Date
2023-03-13    2100.701172
2023-03-14    2064.796387
2023-03-15    2054.504883
2023-03-16    2051.920654
2023-03-17    2031.753052
...                   ...
2024-03-01    3014.800049
2024-03-04    3000.399902
2024-03-05    3006.000000
2024-03-06    2957.850098
2024-03-07            NaN

[244 rows x 1 columns]